.footer {
  height: 100px;
  width: 100%;
  background: image-url("banner.jpg") center center / cover;
  color: rgba(196, 184, 184, 0.781);
  &__background {
    height: 100%;
    width: 100%;
    background-color: rgba(61, 12, 12, 0.322);
    a {
      display: inline-block;
      width: 170px;
      margin: 40px calc(50% - 85px);
      text-align: center;
      text-decoration: none;
      color: #92fcad;
      font-size: 18px;
      height: 20px;
    }
    a:hover {
      opacity: .7;
    }
  }
}