.header {
  width: 1020px;
  padding: 0 calc(50% - 510px);
  height: 80px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  &__title {
    margin-left: 15px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    &__icon {
      height: 40px;
    }
    &__text {
      height: 40px;
      margin-top: 10px;
    }
  }
  &__title:hover{
    opacity: .6;
    font-size: 23px;
  }
  &__menu {
    a {
      display: inline-block;
      font-size: 16px;
      margin-left: 15px;
      padding:0 10px;
      text-decoration: none;
      color: black;
      line-height: 80px;
    }
    a:hover {
      background-color: rgba(212, 212, 212, 0.699);
      transition: 0.3s;
    }
  }
}