%section.banner
  .banner__left
    %h2.banner__left__title-main もらいもの　×　ものがたり
    %h3.banner__left__title-sub 
      プレゼントでもらったものを、
      %br/
      体験と一緒に紹介するサイト
  .banner__right
    .banner__right__look
      %p.banner__right__look__inner ものがたりを見る
    = link_to new_post_path, class: "banner__right__post" do
      %p.banner__right__post__inner ものがたりを投稿する
%section.wrapper
  .wrapper__title 新着投稿
  %ul.wrapper__posts
    - @posts.each do |post|
      %li.wrapper__posts__post
        = link_to post_path(post) do
          = image_tag post.images[0].image.url, class: "wrapper__posts__post__img"
          %p.wrapper__posts__post__title=post.title
          .wrapper__posts__post__category
            カテゴリー：
            =post.category.name
          .wrapper__posts__post__bottom
            %p.wrapper__posts__post__bottom__user=post.user.nickname + "さん"
            %p.wrapper__posts__post__bottom__date=post.created_at.strftime("%Y/%m/%d %H:%M")
  .wrapper__more
    %p.wrapper__more__text もっと見る
    = icon "fas", "angle-double-right", class: "wrapper__more__icon"