%header.header
  %h1.header__title もらいモノがたり
  .header__menu
    = link_to "ログイン", ""
    = link_to "新規登録",""
    = link_to "こんにちは◯◯さん",""
    = link_to "ログアウト",""
%section.banner
  .banner__inner
    .banner__inner__title
      %h2.banner__inner__title__main もらいもの　×　ものがたり
      .banner__inner__title__sub プレゼントでもらったものを、体験と一緒に紹介するサイト
    .banner__inner__content
      .banner__inner__content__look ものがたりを見る
      .banner__inner__content__post ものがたりを投稿する
%section.wrapper
  .wrapper__title 新着投稿
  %ul.wrapper__posts
    %li.wrapper__posts__post
  .wrapper__more もっと見る
%footer もらいモノがたりについて