.banner {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: image-url("banner.jpg") center center / cover;
  &__inner {
    width: 700px;
    padding: 20px 0;
    &__title {
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
      padding: 15px 0;
      border-radius: 50px;
      background-color: rgba(297,297,297, .8);
      &__main {
        display: inline-block;
        margin: 0 auto 15px;
        font-size: 40px;
        font-weight: bold;
      }
      &__sub {
        display: inline-block;
        margin: 0 auto;
        font-size: 22px;
      }
    }
    &__content {
      display: flex;
      justify-content: space-around;
      font-size:18px;
      &__look {
        text-decoration: none;
        color: black;
        height: 157px;
        width: 157px;
        text-align: center;
        border-radius: 50%;
        background-color: #92fcad;
        &__inner {
          margin: 9px 0 0 9px;
          height: 139px;
          width: 139px;
          box-sizing: border-box;
          padding: 38px 15px;
          border-radius: 50%;
          border: 5px solid #dab98f;
          transition: .4s;
        }
        &__inner:hover {
          height: 157px;
          width: 157px;
          margin: 0;
          padding: 47px 24px;
          border: 5px solid #ff9c62;
        }
      }
      &__look:hover {
        background-color: #f8d3f2;
        transition: .4s;
      }
      &__post {
        text-decoration: none;
        color: black;
        height: 157px;
        width: 157px;
        text-align: center;
        border-radius: 50%;
        background-color: #92fcad;
        &__inner {
          margin: 9px 0 0 9px;
          height: 139px;
          width: 139px;
          box-sizing: border-box;
          padding: 38px 10px;
          border-radius: 50%;
          border: 5px solid #dab98f;
          transition: .4s;
        }
        &__inner:hover {
          height: 157px;
          width: 157px;
          margin: 0;
          padding: 48px 17px;
          border: 5px solid #ff9c62;
        }
      }
      &__post:hover {
        background-color: #f8d3f2;
        transition: .4s;
      }
    }
  }
}

.wrapper {
  margin: 80px 0;
  &__title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
  }
  &__posts {
    max-height: 1110px;
    width: 1195px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: hidden;
    &__post {
      height: 340px;
      width: 250px;
      margin: 0 65px 40px 0;
      box-shadow: 0 2px 4px rgba(0,0,0,.18);
      a {
        text-decoration: none;
        color: black;
      }
      &__img {
        height: 250px;
        width: 250px;
      }
      &__title {
        display: inline-block;
        height: 42px;
        width: 100%;
        padding: 0 8px;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
        font-weight: bold;
      }
      &__tag {
        width: 100%;
        display: flex;
        justify-content:center;
        padding: 0 8px;
        box-sizing: border-box;
        p {
          display: inline-block;
          font-size: 12px;
          margin-right: 7px;
        }
      }
      &__bottom {
        width: 100%;
        padding: 0 8px;
        box-sizing: border-box;
        margin-top: 6px;
        display: flex;
        justify-content: space-between;
        &__user {
          width: auto;
          display: inline-block;
          font-size: 12px;
        }
        &__date {
          display: inline-block;
          font-size: 11px;
          margin-left: 8px;
          line-height: 18px;
       }
      }
    }
    &__post:nth-child(4n) {
      margin-right: 0;
    }
  }
  &__more {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    &__text {
      font-size: 24px;
      margin-right: 8px;
      transition: 0.6s;
    }
    &__text:hover {
      margin-right: 18px;
    }
    &__icon {
      font-size: 28px;
      line-height: 36px;
    }
  }
}