.slick-dots {
  display: none !important;
}
.show {
  width: 900px;
  margin: 40px auto 100px;
  &__content {
    display: flex;
    flex-wrap: wrap;
    &__title {
      width: 100%;
      font-size: 24px;
      font-family: 'Gelasio', serif;
      border-bottom: 1px solid #e3e3d3;
      padding:0 0 10px 20px;
      margin-bottom: 20px;
    }
    &__left {
      width: 500px;
      position: relative;
      &__images {
        height: 500px;
        width: 100%;
        &__image {
          height: 500px;
          width: 500px;
        }
      }
      &__select {
        display: flex;
        justify-content: center;
        &__image {
          height: 100px;
          width: 100px;
          background-color: rgb(206, 206, 206) !important;
          opacity: .7;
          cursor: pointer;
          transition: 5s;
        }
        &__image:active {
          opacity: 1;
          transition: 0s;
        }
      }
      &__like {
        height: 60px;
        width: 80px;
        background-color: rgba(206, 206, 206, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 120px;
        right: 0;
        z-index: 1;
        &__icon {
          font-size: 22px;
          margin-right: 5px;
          cursor: pointer;
          color: rgb(243, 31, 148);
        }
        &__hidden {
          display: none;
        }
      }
    }
    &__right {
      height: 500px;
      width: 400px;
      padding-left: 20px;
      box-sizing: border-box;
      &__title {
        font-size: 18px;
        font-weight: bold;
        line-height: 28px;
        height: 63px;
        padding-bottom: 7px;
        box-sizing: border-box;
      }
      &__tag {
        display: flex;
        flex-wrap: wrap;
        height: 49px;
        margin-bottom: 7px;
        p {
          margin-right: 7px;
        }
      }
      &__box {
        margin-bottom: 7px;
        display: flex;
        margin-bottom: 15px;
        p {
          margin-right: 10px;
        }
      }
      &__text {
        overflow: auto;
        max-height: 335px;
        box-sizing: border-box;
      }
    }
  }
  &__comments {
    margin: 40px 0;
    &__title {
      width: 100%;
      font-size: 24px;
      font-family: 'Gelasio', serif;
      border-bottom: 1px solid #e3e3d3;
      padding: 0 0 10px 20px;
      margin-bottom: 20px;
    }
    &__box {
      margin: 0 50px;
      width: 100%;
      &__comment {
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        position: relative;
        &__img {
          height: 60px;
          width: 60px;
          border-radius: 50%;
        }
        &__user {
          position: absolute;
          left: 70px;
        }
        &__text {
          margin: 17px 10px 0 10px;
          padding: 12px;
          max-width: 636px;
          border-radius: 12px;
          background: #cff0d7;
          position: relative; 
        }
        &__text:after {
          content: "";
          position: absolute;
          top: 3px; 
          left: -19px;
          border: 8px solid transparent;
          border-right: 18px solid #cff0d7;
          -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
        }
        .current {
          background: #5adb61;
        }
        .current:after {
          border-right: 18px solid #5adb61;
        }
        &__date{
          font-size: 12px;
          color: #333;
          align-self: flex-end;
        }
      }
    }
    &__new {
      width: 800px;
      margin: 20px auto 0;
      &__input {
        padding: 10px;
        box-sizing: border-box;
        width: 800px;
        min-height: 100px;
        resize: vertical; 
      }
      &__submit {
        background-color: #8f5508;
        color: #fff;
        cursor: pointer;
        height: 40px;
        width: 300px;
        font-size: 18px;
        margin: 40px 250px 0;
      }
    }
  }
}